/* Import Fonts */
@import 'https://fonts.googleapis.com/css?family=David+Libre';


/* Custom Background */
body{
  background:url('assets/weather.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Form width */
form{
  width: 29.4vw;
  margin-left: auto;
  margin-right: auto;
}


/* Title style */
.title{
  font-size: 40px;
  margin-bottom: 75px;
}


/* Styling for submit form */
.ticket-box{
  background-color: rgba(255, 255, 255, .7);
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  width: 32vw !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px black;
  z-index: 2;
}
.ticket-box textarea{
  resize: vertical;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;  /* Konqueror */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;
}
.head-text{
  /*http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-cssc*/
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;  /* Konqueror */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;       
  font-family: 'David Libre', serif;
}


/* Styling for ticket and comment views */
.ticket-list{
  background-color: rgba(255, 255, 255, .7);
  position: relative;
  padding: 10px;
  top: 0%;
  left: 0%;
  width: 50%;
  box-shadow: 0 0 5px black;
  z-index: 2;
}
.ticket-list label{
  text-align: center;  
  display: block;
}
.ticket-list .tbtn{
  cursor: pointer;
  font-style: italic;
  font-size: 40%;
}
li {
  position: relative;
  list-style: none;
  padding: 15px;
}
.ticket-list ul{
  display: none;
} 
  

/* Style for homepage */
.ticket-search{
  width: 50% !important;
  display: inline !important;
}
.homepage {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -35px;
}
.footer, .push {
  height: 35px;
}


/* Style for login page */
.at-title{
  font-size: 36px;
  font-family: 'Poiret One', cursive;
}
.at-form{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px black;
  z-index: 2;
  background-color: rgba(255, 255, 255, .7);
  padding: 10px;
  width: 400px;
}
.at-pwd-form > form{
  width: 100%;
}