/* CSS declarations go here */
@import 'https://fonts.googleapis.com/css?family=David+Libre';

body{
    background:url('assets/weather.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form{
    width: 29.4vw;
    margin-left: auto;
    margin-right: auto;
}

.ticket-box{
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 32vw !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px black;
    z-index: 2;
}

.ticket-box textarea{
    resize: vertical;
}

.head-text{
    /*http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-cssc*/
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           
    font-family: 'David Libre', serif;
}